[Unit]
Description=Service to run garden-gateway daemon
After=docker.service
Requires=networking.service


[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/garden-gateway
Restart=on-failure
PIDFile=/tmp/garden-gateway.pid


[Install]
WantedBy=multi-user.target
