[
    {
        "cron_string" : "*/30 * 7-19 * * * *",
        "action": "turn_on",
        "configurations": [1]
    },
    {
        "cron_string" : "*/30 * 20-23 * * * *",
        "action": "turn_off",
        "configurations": [1]
    },
    {
        "cron_string" : "*/30 * 0-6 * * * *",
        "action": "turn_off",
        "configurations": [1]
    },
    {
        "cron_string": "* * */4 * * * *",
        "action": "turn_on",
        "configurations": [
            2
        ]
    }
]
