[
    {
        "cron_string" : "*/30 * 7-19 * * * *",
        "action": "turn_on",
        "configurations": [1]
    },
    {
        "cron_string" : "*/30 * 19-23 * * * *",
        "action": "turn_off",
        "configurations": [1]
    },
    {
        "cron_string" : "*/30 * 0-7 * * * *",
        "action": "turn_off",
        "configurations": [1]
    }
]
